<div class="h-full w-64 bg-black flex flex-col border-r border-[#282828]">
  <div class="p-8 flex justify-center">
    <img src="/logo.jpg"
         alt="Logo"
         class="w-28 h-28 object-contain">
  </div>

  <nav class="flex-1 px-4 space-y-2">
    <a href="#" class="flex items-center text-gray-400 hover:text-white p-3 rounded-lg hover:bg-[#282828] transition group">
      <svg class="w-6 h-6 mr-4 group-hover:text-[#1db954]" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
      </svg>
      Home
    </a>
  </nav>
</div>
